.nav {
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px grey;
    height: 50px;
}
#title {
    width: 40%;
    text-align: center;
}
#menu {
    width: 60%;
    text-align: center;
    
}
a {
    color: white;
    margin-right: 50px;
    text-decoration: none;
}