* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background: linear-gradient(90deg, rgba(246,217,8,1) 2%, rgba(237,188,15,1) 40%, rgba(255,0,28,1) 55%); 
}
.nav-menu {
    height: 4rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-menu > ul {
    display: flex;
    gap: 3rem;
}
.nav-menu ul > li {
   list-style: none;
   font-weight: bold;
}
.container {
    padding: 100px;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column; 
    text-align: left;
}
.left h1{
    color: #BF142C;
    font-size: 48px;
    font-weight: 600;
}

.container ion-icon{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: -15px;
}

.imagestl{
    position: fixed;
    left: -30px;
    bottom: -10px;
    width: 15%;
    height: 30%;
}